.ProseMirror {
    font-size: 1.3rem !important;
}

#editor-wrapper div.ProseMirror .checkbox-item::before {
    margin-left: 10px !important;
    top: 10px;
}

.checkbox-item.checked {
    color: gray;
    text-decoration: line-through;
}

#editor-wrapper div.ProseMirror .checkbox-item::before {
    border-radius: 50% !important;
    height: 20px !important;
    width: 20px !important;
}

#editor-wrapper div.ProseMirror p {
    cursor: text;
    font-family: arfont;
}

@font-face {
  font-family: 'arfont';
  src: URL('https://github.com/themedleb/My-Nextcloud/raw/master/ar-font.ttf') format('truetype');
}
